.comboBoxContainer {
  width: 250px;
  height: 30px;
  cursor: pointer;
}

.selectLine {
  position: relative;
}

.searchSvg {
  position: absolute;
  top: 15px;
  left: 5px;
  pointer-events: none;
}

.biChevronSvg {
  position: absolute;
  top: 17px;
  right: 0;
}

.bin {
  position: absolute;
  top: 19px;
  right: 20px;
}

.selectLine input {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  width: 90%;
  height: 50px;
  right: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 0 0 0 30px;
}

.selectLine input:focus{
  border: 2px solid #1EA7FD;
}

.dropDownListStyle {
  margin-top: 5px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  text-decoration: none;
  list-style-type: none;
  padding-left: 10px;
  max-height: 130px;
  overflow-y: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropDownListStyle {
  display: block;
}

.dropDownListFoldedStyle {
  display: none;
}

.dropDownListStyle :hover {
  width: 100%;
  cursor: pointer;
  background-color: #1EA7FD;
}

.displayItems {
  font-size: 14px;
  width: 100%;
  display: block;
}

.hideItems {
  font-size: 14px;
  width: 100%;
  display: none;
}

.comboBoxContainer .dropDownListStyle li {
  text-decoration: none;
  font-size: 14px;
  height: 30px;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Tahoma, sans-serif;
}
